/* @import "swiper/css/bundle"; */
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    font-family: outfit;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}